.products-container {
  display: flex;
  flex-direction: column;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.products-category {
  color: rgb(131, 131, 131);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 24px;
}

@media  screen and (max-width: 750px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media  screen and (max-width: 480px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
  
}
  
